@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
  }
svg{
    color: white;
  height: 30px;
    width: 30px;
}
  
.productos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2300px;
  background-color:#495B71
}
.messi{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr  ;
  align-items: center;
  justify-content: center;
  gap: 20px ;
  margin: 80px;
  max-height: 2200px;
}